.settings {
   display: flex;
   flex-direction: row;
   align-content: center;
}
input {
   padding: 5px;
   font-size: 12px;
   width: 150px;
   height: 20px;
}
button {
   height: 30px;
   width: 70px;
   color: #none;
   border: 1px solid #313131;
   border-radius: 10px;
   font-size: 12px;
   cursor: pointer;
   background: none;
}


form {
   padding-top: 20px;
}

h1 {
	font-size: 13px;
}

